*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    
  }
/* shared-style-start */
.container{
    max-width: 1060px;
    margin: 0 auto;
}

/* website-style-start */
/* hedar-style-start */
.main-hedar{
    background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);
    background-color: #181818;
    padding-top: 40px;
    padding-bottom: 40px;

}
.flex-one{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-logo h2{
    font-size: 36px;
    font-weight: 800;
    font-style: italics;
    line-height: 42px;
    color: #E6533C;

}
.flex-two{
    display: flex;
}
.flex-two li{
    list-style-type: none;
    margin-right: 30px;
}
.flex-two li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #F1F1F1;
}
.nav-menu{
    border: 1px solid #4b4848;
    padding: 10px 0;
    border-radius: 40px;
}
.flex-two span{
    background-color: #E6533C;
    padding: 8px 30px 9px 10px;
    border-radius: 40px;
}
.flex-third{
    display: flex;
    gap: 70px;
}
.jim-name{
    margin-top: 90px;
    max-width: 600px;
}
.jim-name h1{
    font-weight: 900;
    font-size: 78px;
    line-height: 92px;
    color: #FFFF;
}
.jim-name p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: #7D7D7D;
    margin-top: 30px;
    margin-bottom: 15px;
}
.dubble-button .btn-1{
    background-color: #E6533C;
    padding: 12px 30px;
    border: none;
    border-radius: 40px;
    /* gap: 15px; */
    margin-right: 15px;
}
.dubble-button .btn-1 a{
    text-decoration: none;
    color: #FFFF;
    font-size: 18px;
    line-height: 22px;
}
.dubble-button{
    margin-top: 30px;
}
.dubble-button .btn-2{
    padding: 12px 30px;
    border: 1px solid #f7f4f4;
    border-radius: 40px;
    /* gap: 15px; */
    background-color: #181818;
}
.dubble-button .btn-2 a{
    text-decoration: none;
    color: #FFFF;
    font-size: 18px;
    line-height: 22px;
}
.jim-picture{
    margin-top: 40px;
}
.jim-picture img{
    width: 100%;
}

.count-1{
    background-color: #393939;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #7D7D7D;
    border-radius: 10px;
    position: absolute;
    margin-top: -450px;
    margin-left: 250px;
}
.count-1 h1{
    color: #FFFF;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
}
.count-1 p{
    font-weight: 400px;
    font-size: 13px;
    line-height: 20px;
    color: #7D7D7D;
    margin-top: 5px;
}
.count-2{
    background-color: #393939;
    width: 180px;
    padding: 10px;
    border: 1px solid #7D7D7D;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tomato{
    background-color: #E6533C;
    border: 1px solid #E6533C;
    border-radius: 50%;
    width: 50px;
    height: 40px;
    margin-right: 10px;

}
.count-2{
    position: absolute;
    margin-left: -100px;
    margin-top: -150px;
}
.count-sub h1{
    color: #FFFF;
    font-weight: 900;
    font-size: 20px;
    line-height: 40px;
}
.count-sub p{
    font-weight: 400px;
    font-size: 13px;
    line-height: 20px;
    color: #7D7D7D;
    margin-top: 5px;
}
/* hedar-style-end */
/* habit-section-start */
.habit{
    background-color: #181818;
    padding-top: 40px;
    padding-bottom: 60px;

}
.change-habit{
    max-width: 680px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.change-habit h2{
    font-weight: 900px;
    font-size: 48px;
    line-height: 55px;
    color: #FFFF;
    margin-bottom: 13px;
    margin-left: 60px;
    
}
.change-habit p{
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    color: #7D7D7D;
}
.extra{
    text-align: center;
}


.flex-four{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.img-habit{
    margin-bottom: 20px;
}
.img-habit img{
    border-radius: 50%;
}
.habit-live{
    display: flex;
    text-align: center;
}
.des-habit h4{
   font-weight: 600px;
   font-size: 18px;
   line-height: 20px;
   color: #FFFF;
   margin-bottom: 5px;
}
.des-habit p{
    font-weight: 400px;
   font-size: 18px;
   line-height: 18px;
   color: #7D7D7D;
   margin-top: 5px;
}
.break{
    display: none;
}
/* habit-section-end */
/* Run-section-start */
.run{
    background-color: #181818;
    padding-top: 40px;
    padding-bottom: 70px;

}
.flex-five{
    display: flex;
    gap: 200px;
}
.run-img img{
    width: 100%;
    border-radius: 15px;
}
.run-img{
    max-width: 366px;
}
.run-div{
     background: rgba(34, 34, 34, 1);
    padding: 25px;
    border-radius: 15px;
}
.run-details{
    max-width: 443px;
}
/* Run-section-end */

/* website-style-end */
/* Now responsive style start */
@media only screen and (max-width: 576px){
     .nav-menu{
        display: none;
     }
     .main-hedar{
        padding-left: 30px;
     }
     .flex-third{
        flex-direction: column;
        gap: 30px;
     }
     .jim-name h1{
        font-weight: 900;
        font-size: 60px;
        line-height: 75px;    
     }
     .jim-name {
        margin-top: 60px;
     }
     .count-1{
        margin-top: -770px;
        margin-left: 300px;
    
     }
     .count-2{
        margin-left: 30px;
        margin-top: -600px;
        
     }
     .flex-four{
        flex-direction: column;
     }
     .change-habit{
        max-width: 590px;
        margin: 0 auto;
        padding-bottom: 30px;
     }
     .break{
        display: block;
     }
     .change-habit .extra-2{
        margin-left: 170px;

     }
     .flex-four{
        margin-left: 180px;
        margin-bottom: 10px;
     }
     .des-habit{
        margin-bottom: 20px;
     }
/* Now responsive style end */